$avatar-border-radius: dynamic(50%);

.x-avatar {
    @include border-radius($avatar-border-radius);
    @include background-size(cover);
    background-color: $neutral-color;
    background-repeat: no-repeat;
    background-position: center;
}

.x-avatar {
    height: 30px;
    width: 30px;
    padding: 2px;
    color: $base-dark-color;
    //font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    //font-family: Arial, sans-serif;
    text-transform: uppercase;
    &.large {
        height: 48px;
        width: 48px;
    }
}